.idea
*.iws
*.iml
atlassian-ide-plugin.xml
target/
out/
lib_managed/
src_managed/
project/boot/
.history
.cache
*.log
.DS_Store
log/
dependency-reduced-pom.xml
material-cms-api/src/test/java/com/xiaomi/ai/cms/api/dao/
material-cms-api/src/test/java/com/xiaomi/ai/cms/api/service/
material-sdk-commons/src/test/java/com/xiaomi/ai/util/
material-station-normlize/src/test/
